@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";
/* * {
  border: 1px solid red;
} */

:root {
  --cyan: #66e2dc;
  --orange: #fa7453;
  --yellow: #fffb64;
  --white: #fcfaf9;
  --slate: #191826;
}

body {
  min-height: 100vh;
  min-width: fit-content;
  background-image: url(/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: right -200px top -200px;
  color: var(--slate);
  font-family: "IBM Plex Sans", sans-serif;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(/bg-pattern-1.svg), url(/bg-main-tablet.png);
    background-position: right -40px top -40px, right -100px top -250px;
    background-size: 270px, auto;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-image: url(/bg-pattern-1.svg), url(/bg-main-tablet.png);
    background-position: right top -35px, right -180px top -260px;
    background-size: auto;
  }
}
