@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

:root {
  --cyan: #66e2dc;
  --orange: #fa7453;
  --yellow: #fffb64;
  --white: #fcfaf9;
  --slate: #191826;
}

body {
  color: var(--slate);
}

.text-preset-1 {
  font-family: "IBM Plex Sans", sans-serif;
  @apply font-bold text-[88px] leading-[100%] tracking-[-1px];
}

.text-preset-2 {
  font-family: "IBM Plex Sans", sans-serif;
  @apply font-bold text-[64px] leading-[100%];
}

.text-preset-3 {
  font-family: "IBM Plex Sans", sans-serif;
  @apply font-bold text-[40px] leading-[110%];
}

.text-preset-4 {
  font-family: "IBM Plex Sans", sans-serif;
  @apply font-normal text-[20px] leading-[150%];
}

.text-preset-5-bold {
  font-family: "IBM Plex Sans", sans-serif;
  @apply font-bold text-[16px] leading-[150%];
}

.text-preset-5 {
  font-family: "IBM Plex Sans", sans-serif;
  @apply font-normal text-[16px] leading-[150%];
}

.text-preset-6 {
  font-family: "IBM Plex Sans", sans-serif;
  @apply font-semibold text-[18px] leading-[180%];
}
